
.main_section {
  left: 0;
  top: 120px;
}

.login {
position: absolute;
}


.login a:hover span {
  display:inline-block;
  position: absolute;
}
h1 {
  text-align: center;
  font-family: Arial;
  margin-bottom: 0px;
  margin-top: 20px;
}
nav {
  height: 80px;
}
nav h2 {
  display: inline-block;
  font-family: Arial;
}
body {
  text-align: center;
}
.resize {
  height: 75%;
  z-index: 3;

}
.surfballard {
  height: 30px;
  position: relative;
  z-index: 1;
  margin-top: -400px;
  margin-left: 500px;
}
.hsurfballard {
  display: none;
  border: 1px solid #ffffff;
  width: 200px;
  height: 230px;
  color: #000000;
  margin-left: 550px;
  margin-top: -400px;
  z-index: 1;
  position: relative;
  font-family: Arial;
}
.home {
  color: #00cccc;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 3px solid #00cccc;
  padding: 5px;
  border-radius: 10px;
}
.kayaking {
  color: #00cccc;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 3px solid #00cccc;
  padding: 5px;
  border: 3px solid #00cccc;
  border-radius: 10px;
}
